.all {
    margin: 0 auto;
    width: 1570px;
    height: auto;
    display: flex;
}
.container {
    display: grid;
    grid-template-rows: 30% 70%;
    margin-top: auto;
    padding: 10px;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: dense;
}
.h1{
    margin-left: -229px;
    font: roboto;
}
.parent {
    height: auto;
    display: grid;
    grid-template-columns: 30em 30em;
    margin-left: 90px;
}
.icon{
    margin-top: -56px;
}

@media (max-width: 576px) {
    .parent {
        margin-top: 100px;
    }

    .all {
        display: block;
    }
}
}

@media (max-width: 1580px) {
    .parent {
        margin-top: 100px;
    }

    .all {
        display: block;
    }
}