*{
    margin: 5px;
    box-sizing: border-box;
}
body {
    height: 9vh;
    background:rgb(72, 74, 240);
    font-family: sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 24px;
    display: flex;
    flex-direction: column;
}
header {
    background: rgb(11, 11, 143);
    padding: 2em 0 2em 0;
}
.main {
    display: flex;
    flex: 1;
}
.left {
    background: rgb(11, 11, 143);
    padding: 3em 0 3m 0;
    flex: 1 1 100px;
}
main {
    background: rgb(11, 11, 143);
    padding: 3em 0 3m 0;
    flex: 5 5 150px;
}
.right {
    background: rgb(11, 11, 143);
    padding: 3em 0 3m 0;
    flex: 1 1 100px;
}
footer {
    background: rgb(11, 11, 143);
    padding: 1em 0 1em 0;
}
@media all and (max-width:550px){
    .main {
        flex-direction: column;
    }
    main {
        padding: 5em 0 5em 0;
    }
}