body {
    background-color: rgb(0, 0, 0);
}
.main {
    display: flex;
}
.main >div {
    padding: 40px 20px;
} 
.one {
    flex: 1;
    order: 1;
    align-items: center;
}
.two {
    flex: 1;
    order: 2;
}
.three {
    flex: 1;
    order: 3;
    color: aliceblue;
}
.less {
    margin-top: 60px;
    margin-bottom: -70px;
    margin-top: 60px;
    margin-bottom: -14px;
    margin-left: 111px;
    margin-right: 111px;
    width: 120px;
    height: 92px;
}
img {
     border-radius: 100px;
     width: 230px;
     height: 230px;
     align-items: center;
}
.title {
    font-size: 50px;
    text-align: center;
    color: aliceblue;
    font-family: lato;
}
.h1 {
    font-size: 80px;
    text-align: center;
    color: aliceblue;
    font-family: lato;
}
.h2a {
    font-size: 50px;
    color: aliceblue;
    font-family: lato;
}
.h2-two {
    font-size: 60px;
    color: aliceblue;
    font-family: lato;
}
.h1-two {
    color: aliceblue;
    text-align: center;
    font-size: 100px;
    font-family: lato;
}
.h2-two {
    color: aliceblue;
    font-family: lato;
}
.p-two {
    color: aliceblue;
    font-family: lato;
}
.font {
    font-size: larger;
}
h2 {
    text-align: center;
}
.period {
   width: 180px; 
   height: 50px;
}
.dotdot {
    display: flex;
    padding-left: 2600px;
    margin-bottom: 30px
}
.container {
    display: flex;
    margin-left: 80px;
    padding-left: 250px;
}
.container1 {
    display: flex;
    margin-left: 80px;
    padding-left: 250px;  
}
.greater {
    margin-left: 50px;
    font-size: xx-large;
    font-weight: 900;
    width: 30px;
}
.container2 {
    display: flex;
    margin-left: 80px;
    padding-left: 250px;  
}
.one {
    margin-left: 48px;
    height: 1435px;
    width: 840px;
    background-image: url(bg-left.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 201px;
}
.two {
    margin-left: 48px;
    height: 1535px;
    width: 840px;
    background-image: url(bgcenter.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 201px;
}
.three {
    margin-left: 48px;
    height: 1435px;
    width: 840px;
    background-image: url(bg-right.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 201px;
}
.p1 {
    width: 60%;
    align-items: center;
    margin: 0 auto;
    font-size: 45px;
    color: aliceblue;
    font-family: lato;
    text-align: justify;
    padding: 34px;
}
.block {
    display: block;
}
.p2 {
    width: 60%;
    align-items: center;
    margin: 0 auto;
    font-size: 65px;
    color: aliceblue;
    font-family: lato;
    text-align: justify;
    padding: 104px;
}
.p3 {
    width: 60%;
    align-items: center;
    margin: 0 auto;
    font-size: 45px;
    color: aliceblue;
    font-family: lato;
    text-align: justify;
    padding: 34px;
}
.img1 {
    margin-left: 402px;
    width: 270px;
    height: 270px;
    border-radius: 189px;
}
.img2 {
    margin-left: 402px;
    margin-top: -126px;
    width: 300px;
    height: 300px;
    border-radius: 189px;
}
.img3 {
    margin-left: 702px;
    width: 270px;
    height: 270px;
    border-radius: 189px;
}
.h1-three {
    color: aliceblue;
    text-align: center;
    font-size: 80px;
    font-family: lato;
}
.h2-three {
    font-size: 50px;
    color: aliceblue;
    font-family: lato;
}
.qoute1 {
    margin-left: 800px;
    margin-top: -39px;
    height: 90px;
    width: 90px;
}
.qoute2 {
    margin-left: 800px;
    margin-top: 0px;
    height: 110px;
    width: 110px;
}
.qoute3 {
    margin-left: 800px;
    margin-top: -39px;
    height: 90px;
    width: 90px;
}